<h2>Category details</h2>

<p>
  <strong>nazwa:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>datadod:</strong>
  <%= @category.created_at %>
</p>

<p>
  <strong>datadzm:</strong>
  <%= @category.updated_at %>
</p>


<%= link_to 'Back', categories_path %>
